<%= stylesheet_link_tag    "fruit" %>
<h2>New Fruit</h2>

<div id="new_form">
<%= form_for @fruit do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br />

  <%= f.label :phone %>
  <%= f.telephone_field :phone %> <br />

  <%= f.label :email %>
  <%= f.email_field :email %> <br />

  <%= f.label :location %>
  <%= f.text_field :location %> <br />

  <%= f.label :description %>
  <%= f.text_field :description %> <br />

  <%= f.submit "Add Fruit" %>
<% end %>

</div>
