<%= stylesheet_link_tag    "fruit" %>
<h1><%= @fruit.name %></h1>
<div class="pic">
  <img src="http://www.shawnee.edu/_resources/images/profile-placeholder.png">
</div>
<h4> Phone: <%=@fruit.phone %> </h4>
<h4> E-mail: <%= @fruit.email %> </h4>
<h4> Location: <%= @fruit.location %> </h4>
<h4> Description: <%= @fruit.description %> </h4>

<p> <%= link_to "Edit", edit_fruit_path %> </p>
