<%= stylesheet_link_tag    "fruit" %>
<h1><%= @fruit.name %></h1>
<div class="pic">
  <img src="http://www.shawnee.edu/_resources/images/profile-placeholder.png">
</div>
<h3> <%= link_to "Edit Info", edit_fruit_path %> </h3>
<h4> Phone: <%=@fruit.phone %> </h4>
<h4> E-mail: <%= @fruit.email %> </h4>
<h4> Location: <%= @fruit.location %> </h4>
<h4> Description: <%= @fruit.description %> </h4>

  <% @appointments.each do |appointment| %>
  <li>
    <a href="/appointments/<%= appointment.id %>">
    <div id="appointment">
      <h4> <%= appointment.date_and_time.strftime("%m-%d-%Y") %> </h2>
      <h4> <%= appointment.location %> </h3>
      <h5>  <%= appointment.notes %> </h5>
      <h5>  Created On: <%= appointment.created_at.strftime("%m-%d-%Y") %> <br /> </h5>
    </div>
    </a>
  </li>
  <% end %>

<h2>New Appointment</h2>
       <div class="apt-button"> 
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span> New Appointment
        </button> 
      </div>
      <br>
<div class="appointment">
<%= form_for @appointment do |f| %>
  <%= f.label :date_and_time %>
  <%= f.date_field :date_and_time %> <br/>

  <%= f.label :location %>
  <%= f.text_field :location %> <br/>

  <%= f.label :notes %>
  <%= f.text_field :notes %> <br/>

  <%= f.hidden_field :fruit_id, :value => Fruit.find(params[:id]).id %>

  <%= f.submit %>
<% end %>
</div>

</ul>

<script>
// Function for hiding and showing the create apppointment form.

$(document).ready(function() {
  $('.appointment').hide();
  $('.apt-button').on("click", function() {
    $('.appointment').toggle("blind", 300);
    });
});
</script>