<%= stylesheet_link_tag    "fruit" %>
<h1><%= @fruit.name %></h1>
<p> <%= link_to "Edit", edit_fruit_path %> </p>

<h3> Phone: <%=@fruit.phone %> </h3>
<h3> E-mail: <%= @fruit.email %> </h3>
<h3> Location: <%= @fruit.location %> </h3>
<h3> Description: <%= @fruit.description %> </h3>
