<h1><%= @fruit.name %></h1>
<p> <%= link_to "Edit", edit_fruit_path %> </p>

<h3><%= @fruit.phone %></h3>
<h3><%= @fruit.email %></h3>
<h3><%= @fruit.location %></h3>
<h3><%= @fruit.description %></h3>
