<%= stylesheet_link_tag    "fruit" %>
<h1><%= @appointment.date_and_time.strftime("%m-%d-%Y") %></h1>
<h4> Location: <%=@appointment.location %> </h4>
<h4> Notes: <%= @appointment.notes %> </h4>

<p> <%= link_to "Edit", edit_appointment_path %> </p>